.float-layout-mask {
  position: fixed;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 375px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.56);
}

.float-layout-mask-active {
  transform: translateY(0);
}

.float-layout-mask-disable {
  transform: translateY(100%);
}

.float-layout-container {
  position: fixed;
  bottom: 0;
  box-sizing: border-box;
  width: 375px;
  background: #fff;
  border-radius: 12px 12px 0 0;
  transform-origin: bottom;
}
.float-layout-container-active {
  transform: translateY(0);
  transition: transform 0.3s;
}

.float-layout-container-disable {
  transform: translateY(100%);
  transition: transform 0.3s;
}
