.tag-container {
  display: inline-block;
  height: 20px;
  margin: 0 8px 0 0;
  padding: 2px 6px;
  color: #fff;
  font-weight: 500;
  font-size: 12px;
  font-family: PingFangSC-Medium, PingFang SC;
  line-height: 20px;
  text-align: center;
  background: #fdac4b;
  border-radius: 4px;
}
